body{
    background-color: #f4fafd;
}
.navbar-brand{
    font-family: Poppins;
    font-weight: 700;
    font-size:56px;
    color:#41436a;
    letter-spacing: 1px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.title{
    font-weight: 600;
    font-size: 48px;
    color:#eac77d;

}

.navbar-brand:hover{
    color:#63658a;
}
.tmdb{
    font-size: 12px;
    letter-spacing: 5px;
    color:#f64668;
    font-weight: 700;
}

.container-fluid{
    justify-content: center;
    border-bottom: solid #41436a;
    border-width: 5px;
}

.cari-film{
    border:solid #41436a;
}


.form-control:focus {
    border :none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px #eac77d;
}

.form-control{
    width: 50vw;
}

.movie-title{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    color:#41436a;
    letter-spacing: 2px;
}

.card{
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    transition: 0.3s;
}

.card:hover{
    background-color: #ededff;
    transform: scale(1.05);
}

.release-date{
    color: #41436a;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    background-color: #eac77d;
}

.rating{
    font-weight: 700;
    background-color: #eac77d;
    padding:5px;
}

